.header {
	color: black; 
	font-family: "Lato-Bold";
	margin-left: 40px;
	
}

body {
	background-color: transparent;
	background-image: url(../img/blank-paper-sheet3.png);
	background-position: top;
	background-width: 80%; 
	background-height: 90%;
	font-family: "oswald";
	font-size: 18px;
	color: #333333 RGB;
	margin-left: 20px;
	background-repeat: no-repeat;
}

#header {
	
}

.thumbnail {
	display: block;
	padding: 2px;
	margin-bottom: 5px;
	line-height: 1.25;
	margin: left;
	text-align: center;
	text-decoration: none;
	background-color: transparent;

}

.thumbnail a>img, .thumbnail>img {
	width: 100px;
	height: 100px;
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: transparent;
}

.header1 {
	margin-left: 40px;
	font-size: 50px;
	color: #333333 RGB;
	font-family: "Lato-Bold";
	text-align: left;
	padding-bottom: 10px;
	padding-top: 0px;

	}
.headerd {
	font-family: "Lato-Bold";
	border-color: white;
	padding: 10px;
	margin: bottom;
	width: 100%;
	text-indent: right

	}

#content {
	background-position: top;
	background-width: 80%; 
	background-height: 90%;
}

h4 {
		text-align: center;
		font-family: "Lato-Bold";
		color: grey;	
		margin: bottom;
		padding-bottom: 5px;
		padding-top: 10px;
	}
.section-header1 {
		color: #333333 RGB;;
		font-family: "Lato-Bold";
		font-weight: bold;
		text-decoration: underline;
		font-size: 24px;
		text-align: center;
		padding-bottom: 10px;
		padding-top: 10px;
		width: 100%;
	
	}

.section-header2 {
		color: #333333 RGB;
		font-family: "Lato-Bold";
		font-weight: bold;
		font-style: italic;
		font-size: 24px;
		text-align: left;
		padding-bottom: 10px;
		padding-top: 10px;
		width: 100%;
	
	}
.box {
	display: block;
	box-sizing: border-box;
	width: 400px;
	margin-left: 300px;
	background-color: white;
	text-indent: 5px;
	padding-bottom: 10px;
}
.service-box {
	padding-top: 90px;
	margin-left: 250px;
	background-color: transparent;
}

.text {
	padding-left: 10px;
	background-color: transparent;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

#software {
	margin-top: 10px;
	padding-top: 5px; 
	background-color: transparent;

}
#technical {
	margin-top: 10px; 
}

.titledesc {
	padding-top: 80px;
	font-family: "Lato-Bold";
	color: dimgrey;
	font-size: 20px;
	margin-left: 350px
}

#contactinfo {
	margin-top: 20px;
	padding-top: 10px;
	margin-left: 450px;
}

#myservices {
	margin-top: 60px;
	background-color: transparent;
	width: 600px;
	margin-left: 350px;
}

#creative {
	margin-top: 20px; 
	padding-right: 10px;
	background-color: transparent;
}
#process {
	padding-right: 10px;
	background-color: transparent;
}
}

#container-fluid {
	padding: 5px;
	margin: left;
	position: relative;
	display: block;

}

.row-summary {
	font: "oswald";
	font-size: 16px;
	text-align: left;
	}

button {
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 4px;
	cursor: pointer;
	background-color: palegoldenrod;
	height: 50px;
	
}



footer {
	position: bottom relative;
	margin: left;
	font-family: "Fresca-Regular";
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 5px;
	padding-top: 10px;
	font-weight: normal;
	list-style-type: square;
	width: 100%;
	height: 110px;
	box-sizing: border-box;
	z-index: 15;
}

.column.nav {
	margin-right: 10px;
	width: 10%;
	height: 40px;
	list-style-type: none;
	text-align: center;
	background-color: #626363;
	display: block;
	box-sizing: border-box;
	padding: 

}

.column.nav a  {
		padding-bottom: 5px;
		color: silver;
		font-family: "oswald";
		height: 30px;
		
}

.sidenav {
    height: 50%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin: right;
    right: 10px;
    font-family: "Fresca-Regular";
}


.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.navbar-nav>li>a {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
a {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
a .hover {
    background-color: #808080;
    color: #ff0000;
}
.nav>li>a:hover {
    background-color: #808080;
    color: #ff0000;
}